<div class="wrapper">
  <h1>Upcoming Events</h1>
  <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../../assets/THD_images/christmas.jpg)">
                        <div class="inner">
                            <p>Best Wishes</p>
              <span>Christmas</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>We wish all of you a Merry Christmas!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image:url(../../assets/THD_images/pasta.jpg)">
                        <div class="inner">
                            <p>Fun</p>
              <span>Cooking Competition</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Click here to register now!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                        <div class="inner">
                            <p>Strizzes</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                        <div class="inner">
                            <p>Clossyo</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../../assets/THD_images/corridor.jpg)">
                        <div class="inner">
                            <p>Rendann</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style = "background-image: url(../../assets/THD_images/corridor.jpg)">
                        <div class="inner">
                            <p>Reflupper</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                        <div class="inner">
                            <p>Acirassi</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                        <div class="inner">
                            <p>Sohanidd</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
