
<div>
  <mat-toolbar color="primary" style=" position:fixed; z-index:2;">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxHide fxShow.xs>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/Home"><img style = " display:inline-block; vertical-align:middle" width="250vw" height="45vw" src="https://www.th-deg.de/static/images/logos/THD-Logo.png" /></a>
      <span class="menu-spacer"></span>

      <div style="float: right;" fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="Home" mat-button>{{'cHome' | translate }}</a>
        <a routerLink="International" mat-button>{{'cInternational' | translate }}</a>
        <a routerLink="Navigation"  mat-button>{{'cNavigation' | translate }}</a>
        <a href="#" *ngIf="userRegister.loggedIn()" mat-button>{{'cAdmin' | translate }}</a>
        <a routerLink="/chat" *ngIf="userRegister.loggedIn()" mat-button>{{'cchat' | translate }}</a>
        <a mat-button (click)="on_create()">{{'cLogin' | translate }}</a>
        </div>

        <div style="float: right;" fxHide fxShow.lt-md fxHide.xs>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a routerLink="Home" mat-button><mat-icon class="material-icons-rounded" >home</mat-icon></a>
          <a routerLink="International" mat-button><mat-icon class="material-icons-rounded" >work</mat-icon></a>
          <a routerLink="Navigation" mat-button><mat-icon class="material-icons-rounded" >location_on</mat-icon></a>
          <a href="#" *ngIf="userRegister.loggedIn()" mat-button><mat-icon class="material-icons-rounded" >today</mat-icon></a>
          <a routerLink="/chat" *ngIf="userRegister.loggedIn()" mat-button><mat-icon class="material-icons-rounded" >sms</mat-icon></a>
          <a routerLink= "/login2" mat-button><mat-icon class="material-icons-rounded" >assignment_ind</mat-icon></a>
          </div>

    </mat-toolbar-row>
    
  </mat-toolbar>
  
  <mat-sidenav-container style="height: 100%;" >
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a (click)="sidenav.toggle()" routerLink="Home" mat-list-item>{{'cHome' | translate }}</a>
        <a (click)="sidenav.toggle()" routerLink="International" mat-list-item>{{'cInternational' | translate }}</a>
        <a (click)="sidenav.toggle()" routerLink="Navigation" mat-list-item>{{'cNavigation' | translate }}</a>
        <a (click)="sidenav.toggle()" href="#" *ngIf="userRegister.loggedIn()" mat-list-item>{{'cAdmin' | translate }}</a>
        <a (click)="sidenav.toggle()" routerLink="/chat" *ngIf="userRegister.loggedIn()" mat-list-item>{{'cchat' | translate }}</a>
        <a (click)="sidenav.toggle()" routerLink= "/login" mat-list-item>{{'cLogin' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="contains-router-out">
        <router-outlet></router-outlet>
      </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<app-multi-language></app-multi-language>

