<div class="center">

    <div class="container">

        <div class="text">
            {{'cLogin' | translate }}
        </div>
        <form style="margin-top: 10px;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="data">
                <label>Email</label>
                <input type="text" required placeholder="example@somemail.com" formControlName="email">
                <mat-error *ngIf="loginForm.controls.email.hasError('email')"> Email is invalid.</mat-error>
            </div>
            <div class="data">
                <label>{{'cPassword' | translate }}</label>
                <input type="password" required formControlName="password">
            </div>
            <div class="forgot-pass">
                <a href="#">{{'cForgotPassword' | translate }}</a>
            </div>
            <div class="btn">
                <div class="inner">
                </div>
                <button type="submit" [disabled]="!loginForm.valid">{{'cLogin' | translate }}</button>
            </div>
            <div class="signup-link">
                {{'cnotmember' | translate }} <a (click)="on_signup()">Signup now</a></div>
        </form>
    </div>
</div>